<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-container" [formGroup]="options">
    <mat-form-field appearance="legacy" >
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="First Name" [formControl]="firstNameControl" required>
      <mat-error *ngIf="firstNameControl.invalid">Please enter user first name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy" >
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="Last Name" [formControl]="lastNameControl" required>
      <mat-error *ngIf="lastNameControl.invalid">Please enter user last name</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234" [formControl]="phoneControl" required>
      <mat-error *ngIf="phoneControl.invalid">Please enter your phone number</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="emailControl" required>
      <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="passwordControl" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.invalid">Please enter your password</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Select Role</mat-label>
      <mat-select [formControl]="roleControl" required>
        <div *ngFor = "let role of roles">
          <mat-option value="{{role.id}}">{{role.role}}</mat-option>
        </div>
      </mat-select>
      <mat-error *ngIf="roleControl.invalid">Please select an user role</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
